/*
h1 {
    color: blue;
     
}

div {
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    background-color: #fdf6e3;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;

}

/* id */
#lol {
    color:blue;
}

/* Class */
.foo {
    color:red;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    background-color: blanchedalmond;
}
/*
@media (min-width: 600px){
    div {
        background-color: red;
    }
}

@media (max-width: 599px){
    div {
        background-color: blue;
    }
}
*/
